*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}

.Todo{

    background-color: #9fcaf5;
    min-height: 100vh;
    color: black;
}

h2,h3,p{
    color : white;
}

.parent_div{
    display: flex;
    justify-content: center;

}

.parent_div .child_div{

   background-color: #d2e9ff;
   box-shadow: 0 19px 38px rgba(0,0,0,0.30);
   min-height: 70vh;
   min-width: 30%;
   margin-top: 2%;
   border-radius: 5%;

}

.inputSection{
    margin-top: 3%;
    text-align: center;
}

.inputSection input{
    border:none;
    outline:none;
    color : rgb(17, 17, 17);

    background-color: transparent;
    border-bottom : 3px solid rgb(9, 0, 128);
    text-align: center;

}

.addBtn{

    margin-left: 5px;
    color : black;
    border: none;
    outline:none;
    background-color: transparent;
}

.listItems{

    margin-top: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.eachItem{
    background-color: rgb(212, 229, 243);
    border-radius: 20px;
    margin: 3%;
    width:80%;
    padding:10px
}
.deleteBtn,.editBtn{
    float: right;
    background-color:transparent ;
    border : none;
    display: flex;
    justify-content: center;
}
.editBtn{
    margin: 2px;
    color: black;
}
.deleteAll{
    color: red;
}
.inputEdit{
    background-color: transparent;
    border: none;
    color: red;
}